@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

body {
	font-family: 'Sriracha', cursive;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	margin: 0;
	transition: background 0.3s ease;
}

.change-btn {
	background-color: #000;
	color: #fff;
	font-family: inherit;
	padding: 20px 40px;
	font-size: 18px;
	border: none;
	cursor: pointer;
	border-radius: 10px;
	outline: none;
}

.change-btn:active {
	transform: scale(0.98);
	outline: none;
	background-color: #444;
}
